.bannar{
    background-image: url('../../../image/bannar/bannerbackground.png');
    background-size: cover;
    background-position:center;
    padding:10rem 0;
}
.search-box{
    width: 40%;
}
.search-field{
    border:0;
    border-radius: 2rem;
    padding:.6rem 1.3rem;
}
.search-field:focus{
    outline: 0;
    box-shadow: inherit;
}
.search-btn{
    position:absolute;
    right:0;
    top:0;
    bottom:0;
}